<body>
    <div class="container">
        <div id="title"><h1 id="h1Title">YAMA - Yet Another Music Application</h1></div>
        <h3>What a view!!!</h3>
        <hr>
        <div id="divAlerts">
            <!--    ALERT ALERT ALERT -->
        </div>
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a id='nav#welcome' class="nav-link active" href="#welcome">Home</a>
                </li>
                <li class="nav-item">
                    <a id='nav#artists' class="nav-link" href="#artists">Artists</a>
                </li>
                <li class="nav-item">
                    <a id='nav#playlists' class="nav-link" href="#playlists">Playlists<span class="sr-only">(current)</span></a>
                </li>
                <div id="login">
                    <!-- Should we login? -->
                </div>
            </ul>
        </nav>
        <hr>
        <div id="divMain">
            <h1 id="divMainHeader"></h1>
            <!-- We place here the main content of foca web app -->
            <!--<div class="d-flex justify-content-center">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="searchKeywords" placeholder="Keywords">
                    </div>
                    <button id="searchButton" type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>-->
            <!--<div class="d-flex justify-content-center">
                <iframe id="mainVideo" width="560" height="315" src="https://www.youtube.com/embed/iFGc9vpN338?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>-->
        </div>
        <hr>
        <div class="card">
            <div class="card-footer">
                <small>References</small>
            </div>
            <div class="card-body">
                <ul>
                    <li class="card-text">
                        <small>Application built with Node.js support.</small>
                        <small>Application created by group 6.</small>
                        <ul>
                            <li><small>Luís Almeida nº36187</small></li>
                            <li><small>Filipe Quelhas nº39146</small></li>
                            <li><small>David Carvalho nº39260</small></li>
                        </ul>
                    </li>
                    <li> <a href="https://github.com/lsequeiraa/PI-1819v-LI51N-G12/">Visit our github.</a> </li>
                </ul>
            </div>
        </div>
    </div>
</body>